In [73]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [74]:
train = pd.read_csv("./bike_data/train.csv", parse_dates=['datetime'])
test = pd.read_csv("./bike_data/test.csv", parse_dates=['datetime'])
sub = pd.read_csv("./bike_data/sampleSubmission.csv")

train.shape, test.shape, sub.shape

((10886, 12), (6493, 9), (6493, 2))

In [75]:
f_names = ['temp', 'atemp']
X_tr_all = train[f_names]         # 학습용 데이터의 변수 선택 
y_tr_all = train['count']         # 학습용 데이터의 레이블 변수 선택

last_X_test = test[f_names]       # 최종 예측. 테스트 데이터의 변수 선택

In [76]:
from sklearn.model_selection import train_test_split

In [77]:
X_train, X_test, y_train, y_test = train_test_split(X_tr_all, 
                                                    y_tr_all,
                                                    test_size=0.3,
                                                    random_state=77)

In [78]:
from sklearn.linear_model import LinearRegression

In [79]:
model = LinearRegression()
model.fit(X_train, y_train)

# score()함수를 이용 - 결정계수 확인
print("학습용 세트 결정계수 : {:.3f}".format(model.score(X_train, y_train)))
print("테스트 세트 결정계수 : {:.3f}".format(model.score(X_test, y_test)))

model.predict(X_test)         # 예측(새로운 데이터로)

학습용 세트 결정계수 : 0.159
테스트 세트 결정계수 : 0.146

array([235.46986679, 151.05560946, 218.26182702, ..., 133.09294136,
       151.05560946,  82.34013525])

In [80]:
print( model.coef_ )         # 모델(선형회귀의 계수)
print( model.intercept_)     # 모델(선형 회귀의 교차점)

[8.18286924 0.99950771]
3.8812023741951123

In [81]:
pred = model.predict(last_X_test)   # 예측
sub['count'] = pred
sub

                 datetime       count
0     2011-01-20 00:00:00  102.469994
1     2011-01-20 01:00:00  104.738876
2     2011-01-20 02:00:00  104.738876
3     2011-01-20 03:00:00  103.984248
4     2011-01-20 04:00:00  103.984248
...                   ...         ...
6488  2012-12-31 19:00:00  103.984248
6489  2012-12-31 20:00:00  103.984248
6490  2012-12-31 21:00:00  103.984248
6491  2012-12-31 22:00:00  104.738876
6492  2012-12-31 23:00:00  104.738876

[6493 rows x 2 columns]

In [82]:
# 처음 만는 제출용 csv 파일, 행번호를 없애기
sub.to_csv("firstsubmission.csv", index=False)

In [83]:
f_names = ['season', 'holiday', 'workingday', 'weather', 'temp', 
           'atemp', 'humidity', 'windspeed']
X_tr_all = train[f_names]         # 학습용 데이터의 변수 선택 
last_X_test = test[f_names]       # 테스트 데이터의 변수 선택 

y_tr_all = train['count']

In [84]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_tr_all, 
                                                    y_tr_all,
                                                    test_size=0.3,
                                                    random_state=77)

In [85]:
model = LinearRegression()
model.fit(X_train, y_train)

# 결정계수 확인
print("학습용 세트 결정계수: {:.3f}".format(model.score(X_train, y_train)))
print("테스트 세트 결정계수: {:.3f}".format(model.score(X_test, y_test)))

학습용 세트 결정계수: 0.262
테스트 세트 결정계수: 0.257

### 몇개의 피처를 상호간의 연산을 통해 여러개의 피처 만들기

In [86]:
from sklearn.preprocessing import PolynomialFeatures

In [87]:
sel = ['season', 'weather', 'temp']

X_tr = train[sel]
y = train['count']

last_X_test = test[sel]

In [88]:
ex_X_tr = PolynomialFeatures(degree=2, include_bias=False).fit_transform(X_tr)

X_tr.shape, ex_X_tr.shape

((10886, 3), (10886, 9))

In [89]:
ex_X2_tr = PolynomialFeatures(degree=3, include_bias=False).fit_transform(X_tr)

X_tr.shape, ex_X2_tr.shape

((10886, 3), (10886, 19))

In [90]:
X_train, X_test, y_train, y_test = train_test_split(ex_X_tr, 
                                                   y, test_size=0.3,
                                                   random_state=77)

In [91]:
model = LinearRegression()
model.fit(X_train, y_train)

# score()함수를 이용 - 결정계수 확인
print("학습용 세트 결정계수: {:.3f}".format(model.score(X_train, y_train)))
print("테스트 세트 결정계수: {:.3f}".format(model.score(X_test, y_test)))

학습용 세트 결정계수: 0.199
테스트 세트 결정계수: 0.182

* 3개의 피처의 모델에 비해 성능이 개선되었다. (9개의 피처를 사용.)

* 1-10 8개의 피처에 다항회귀를 통한 피처 생성 후, 성능 확인해 보기.

In [92]:
f_names = ['season', 'holiday', 'workingday', 'weather', 'temp', 
           'atemp', 'humidity', 'windspeed']

X_tr_all = train[f_names]         # 학습용 데이터의 변수 선택 
y_tr_all = train['count']
last_X_test = test[f_names]       # 테스트 데이터의 변수 선택

In [93]:
ex_X_tr = PolynomialFeatures(degree=3, include_bias=False).fit_transform(X_tr_all)

X_tr_all.shape, ex_X_tr.shape

((10886, 8), (10886, 164))

In [94]:
X_train, X_test, y_train, y_test = train_test_split(ex_X_tr, 
                                                    y,
                                                    test_size=0.3,
                                                    random_state=77)

In [95]:
model = LinearRegression()
model.fit(X_train, y_train)

# score()함수를 이용 - 결정계수 확인
print("학습용 세트 결정계수: {:.3f}".format(model.score(X_train, y_train)))
print("테스트 세트 결정계수: {:.3f}".format(model.score(X_test, y_test)))

학습용 세트 결정계수: 0.338
테스트 세트 결정계수: 0.326

In [96]:
### degree : 2  - 피처 44 -> 0.308
### degree : 3  - 피처 164 -> 0.338

In [97]:
model = RandomForestRegressor()
model.fit(X_train, y_train)

# score()함수를 이용 - 결정계수 확인
print("학습용 세트 결정계수: {:.3f}".format(model.score(X_train, y_train)))
print("테스트 세트 결정계수: {:.3f}".format(model.score(X_test, y_test)))

학습용 세트 결정계수: 0.856
테스트 세트 결정계수: 0.301

## 정규화

In [98]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import PolynomialFeatures

In [99]:
train.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count'],
      dtype='object')

In [101]:
sel = ['season', 'weather', 'temp']

X_tr_all = train[sel]

In [102]:
X_tr_all.describe()

             season       weather         temp
count  10886.000000  10886.000000  10886.00000
mean       2.506614      1.418427     20.23086
std        1.116174      0.633839      7.79159
min        1.000000      1.000000      0.82000
25%        2.000000      1.000000     13.94000
50%        3.000000      1.000000     20.50000
75%        4.000000      2.000000     26.24000
max        4.000000      4.000000     41.00000

In [103]:
scaler = MinMaxScaler().fit(X_tr_all)
nor_X_tr_all = scaler.transform(X_tr_all)
y_tr_all = train['count']

last_X_test = test[sel]

In [104]:
X_train, X_test, y_train, y_test = train_test_split(nor_X_tr_all, 
                                                    y_tr_all,
                                                    test_size=0.3,
                                                    random_state=77)

In [105]:
model = LinearRegression()
model.fit(X_train, y_train)

# 결정계수 확인
print("학습용 세트 결정계수: {:.3f}".format(model.score(X_train, y_train)))
print("테스트 세트 결정계수: {:.3f}".format(model.score(X_test, y_test)))

학습용 세트 결정계수: 0.175
테스트 세트 결정계수: 0.163