In [9]:
grade = []
credit = []
num = ['first', 'second', 'third']
gpa = 0
credits = 0

for i in range(3):
    data = float(input("Enter the %s course grade: " %num[i]))
    grade.append(data)
    data = float(input("Enter the %s course credit: " %num[i]))
    credit.append(data)

for i in range(3):
    gpa = gpa + grade[i]*credit[i]
    credits = credits + credit[i]

gpa = gpa / credits

print("Your GPA is %f" %gpa)

Enter the first course grade: 4.5
Enter the first course credit: 3.
Enter the second course grade: 4.0
Enter the second course credit: 3
Enter the third course grade: 3.5
Enter the third course credit: 3
Your GPA is 4.000000

In [16]:
weight = float(input("Enter your weight(kg) : " ))
height = float(input("Enter your height(cm) : " ))

bmi = weight/((height/100)*(height/100))

print("Your BMI value : %.2f" %bmi)

if bmi < 18.5 :
    a = 'underweight'
elif bmi <= 25 :
    a = 'normal'
else :
    a = 'overweight'
    
print("당신의 BMI는 %s 입니다." %a)

Enter your weight(kg) : 51.2
Enter your height(cm) : 10
Your BMI value : 5120.00
당신의 BMI는 overweight 입니다.

######

In [4]:
myfood = ['a','b','c']
          
for item in myfood:
          print(item)

a
b
c

In [6]:
dict1 = {'one':'하나', 'two':'둘', 'three':'셋'}
dict2 = {1:'하나', 2:'둘', 3:'셋'}
dict3 = {'col1':[1,2,3], 'col2':['a','b','c']}

print(dict1)
print(dict2)
print(dict3)

{'one': '하나', 'two': '둘', 'three': '셋'}
{1: '하나', 2: '둘', 3: '셋'}
{'col1': [1, 2, 3], 'col2': ['a', 'b', 'c']}

In [7]:
import pandas as pd

In [9]:
import pandas as pd
from pandas import Series, DataFrame

score = Series( [1000, 14000, 3000, 3000, 1000],
                index=['2019-05-01', '2019-05-02','2019-05-03',
                       '2019-05-04','2019-05-05'] )
print(score)

2019-05-01     1000
2019-05-02    14000
2019-05-03     3000
2019-05-04     3000
2019-05-05     1000
dtype: int64

In [10]:
dat = { 'col1' : [1,2,3,4],
        'col2' : [10,20,30,40],
        'col3' : ['A', 'B', 'C', 'D']
}
df = DataFrame(dat)
df

   col1  col2 col3
0     1    10    A
1     2    20    B
2     3    30    C
3     4    40    D

In [14]:
df['col2'].values

array([10, 20, 30, 40], dtype=int64)

In [16]:
df = DataFrame(dat, columns=['col3', 'col2', 'col1'])
df

  col3  col2  col1
0    A    10     1
1    B    20     2
2    C    30     3
3    D    40     4

In [17]:
df[ ['col1', 'col2']]

   col1  col2
0     1    10
1     2    20
2     3    30
3     4    40

In [23]:
df.loc[1:2 , :]

  col3  col2  col1
1    B    20     2
2    C    30     3

In [25]:
df.loc[ [1] , ['col2','col1']]

   col2  col1
1    20     2

In [34]:
df.loc[ (df['col3']=='B') | (df['col3']=='D') , :]

  col3  col2  col1
1    B    20     2
3    D    40     4